/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 18, 2021, 8:25:53 PM
    Author     : Radha
*/

.form-group{
    width: 350px;
    padding-left: 10px;
}

.row_style{
    margin-top: 15px;
}

.header{
 background-color:#000;
 color:#fff;
 border-color: #080808;
 min-height: 50px;
 border: 1px solid transparent;
}
.inner-header{
    width:80%;
 margin:auto;
}

.logo{
 float: left;
 height: 50px;
 padding: 15px;
 font-size: 20px;
 font-weight: bold;

}
.header-link{
float:right;
font-size:14px;
 height: 50px;
 padding: 15px 15px;
 font-size:16px;
 font-weight: bold;
 text-decoration: none ;
 color:white;

}

footer{
    background-color: #000;
 color:#fff;
 font-size:14px;
 text-align: center;
}

.logo{
 float: left;
 height: 50px;
 padding: 15px;
 font-size: 20px;
 font-weight: bold;

}
.container{
    padding-left: 200px;
    padding-right: 50px;
}

.panel-default{
    padding-left: 10px;
    padding-right: 50px;
}

.panel-heading{
    padding-left: 50px;
    padding-right: 50px;
    
}

.form-group{
    padding-left: 5px;
    padding-right: 100px;
}
.form-control{
    padding-left: 5px;
    padding-right: 50px;
}

.row_style {
    padding-left: 100px;
    padding-right: 50px;
}
.panel {
    padding-left: 50px;
    padding-right: 50px;
}

